
//color
$yellow-primary     : #ffeb3b;
$yellow-200         : #ffed58;
$yellow-300         : #ffef70;
$yellow-400         : #fff186;
$yellow-500         : #fff49b;
$yellow-600         : #fff6af;

$dark-primary       : #121212;
$dark-200           : #282828;
$dark-300           : #3f3f3f;
$dark-400           : #575757;
$dark-300           : #717171;
$dark-600           : #8b8b8b;

$mixcolor-primary   : #262419;
$mixcolor-100       : #3c382e;
$mixcolor-200       : #3b382e;
$mixcolor-300       : #504e45;
$mixcolor-400       : #67655c;
$mixcolor-500       : #7e7d75;
$mixcolor-600       : #97958f;

$theme-red          : #AD3D3D;
$theme-yellow       : #D9A04C;
$theme-white        : #F2E9D7;
$theme-green        : #4E7F87;
$theme-blue         : #394A65;